.leawing{
    position: absolute;
    left: 25.9vw;
    top: 38.0vw;
    width: 20.5vw;
    height: 15.6vw;
    background-image: url(../../../media/bunker/bunkerPage/leawing.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;
}
.leawing:hover{
    border: 2px solid white;
}
.description{
    position: absolute;
    top: 38.0vw;
    left: 47.3vw;
    width: 30%;
    height: auto;
    padding: 1vw;
    background-color: rgb(125, 129, 118);
    display: none;
    animation-name: bounce;
    animation-duration: 1s;
    pointer-events: none;
    z-index: 2;
}
@keyframes bounce {
    0%{
        left: 33.3vw;
        opacity: 0;
    }
    50%{

    }
    100%{
        left: 47.3vw;
        opacity: 1;
    }
  }
  .linkingBlock{
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(127, 255, 212, 0.255);
      cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .leawing{
        position: absolute;
        width: 24.8vw;
        height: 18.6vw;
        top: 52.2vw;
        left: 26.7vw;
    }
    .enterText p{
        font-size: 2.5vw;
    }
    .enterText h1{
        font-size: 3.5vw;
    }
}