.enter{
    position: absolute;
    left: 48vw;
    top: 21.1vw;
    width: 13.7vw;
    height: 15.6vw;
    background-image: url(../../../media/bunker/bunkerPage/enter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .8;
}
.enter:hover{
    border: 2px solid white;
}
.description{
    position: absolute;
    top: 21.1vw;
    left: 18vw;
    width: 30%;
    height: auto;
    padding: 1vw;
    background-color: rgb(125, 129, 118);
    display: none;
    animation-name: bounce;
    animation-duration: 1s;
    pointer-events: none;
    z-index: 2;
}
@keyframes bounce {
    0%{
        left: 52vw;
        opacity: 0;
    }
    50%{

    }
    100%{
        left: 18vw;
        opacity: 1;
    }
  }
  @media screen and (max-width: 600px) {
    .enter{
        position: absolute;
        width: 16.4vw;
        height: 21vw;
        left: 54vw;
        top: 30.6vw;
    }
    .enterText p{
        font-size: 2.5vw;
    }
    .enterText h1{
        font-size: 3.5vw;
    }
}