.bathroom{
    position: absolute;
    left: 58.7vw;
    top: 30.8vw;
    width: 17vw;
    height: 20.6vw;
    background-image: url(../../../media/bunker/bunkerPage/bathroom.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .8;
}
.bathroom:hover{
    border: 2px solid white;
}
.description{
    position: absolute;
    top: 30.8vw;
    left: 29vw;
    width: 30%;
    height: auto;
    padding: 1vw;
    background-color: rgb(125, 129, 118);
    display: none;
    animation-name: bounce;
    animation-duration: 1s;
    pointer-events: none;
    z-index: 2;
}
@keyframes bounce {
    0%{
        left: 62vw;
        opacity: 0;
    }
    50%{

    }
    100%{
        left: 29vw;
        opacity: 1;
    }
  }
  @media screen and (max-width: 600px) {
    .bathroom{
        position: absolute;
        width: 17vw;
        height: 25vw;
        left: 69vw;
        top: 43.6vw;
    }
    .enterText p{
        font-size: 2.5vw;
    }
    .enterText h1{
        font-size: 3.5vw;
    }
}